<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AODamageMeter.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <AODamageMeter.UI.Properties.Settings>
      <setting name="DamageMeterViewHeight" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="DamageMeterViewWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="DamageMeterViewTop" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="DamageMeterViewLeft" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="CharacterNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="LogFilePaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="SelectedCharacterName" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedLogFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="CharacterSelectionViewHeight" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="CharacterSelectionViewWidth" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CharacterSelectionViewTop" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="CharacterSelectionViewLeft" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="NameColumnWidth" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="LogFileColumnWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CharacterInfoViewHeight" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="CharacterInfoViewWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="CharacterInfoViewTop" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="CharacterInfoViewLeft" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="OptionsViewHeight" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="OptionsViewWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="OptionsViewTop" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="OptionsViewLeft" serializeAs="String">
        <value>NaN</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Verdana</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ShowPercentOfTotal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeTopLevelZeroDamageRows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeTopLevelNPCRows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogFileSizeColumnWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ShowRowNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>300</value>
      </setting>
    </AODamageMeter.UI.Properties.Settings>
  </userSettings>
</configuration>
